body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 55px;
    color: grey;
}

.orange-color {
    color: orange;
}


/* 
img {
    /* border-radius: 50%;
    max-height: fit-content;
    border-width: 8px solid;
    border-color: grey; */


/* } */

#cartoon-pic {
    width: 400px;
    border-radius: 50%;
    max-height: fit-content;
    border-width: 8px solid;
    border-color: grey;
}

#day-dreamer {
    max-height: 400px;
    border-radius: 50%;
    /* max-height: fit-content; */
    border-width: 8px solid;
    border-color: grey;
}

.flexible-container {
    display: flex;
    padding: 10px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    padding: 30px 10px;
}

.hire-me {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(tomato, orange);
}

.hire-me-button {
    border-top: 20px;
    padding-left: 0;
}

.welcome-world {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    border-bottom: 50px solid white;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100px;
    border-bottom: 50px solid white;
}

#dream-big-para {
    padding-left: 0;
    padding-right: 10%;
}

.experience-area {
    padding-left: 4%;
    border-bottom: 70px solid white;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 120px;
}

.institute-name {
    font-size: 18px;
    font-stretch: expanded;
    color: tomato;
}

h4 {
    font-size: 14px;
}

.experience-item {
    box-shadow: 8px 8px 50px thistle;
    width: fit-content;
    margin-right: 3%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 1%;
    border-left: 5px solid tan;
    border-radius: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
}

#footer-span {
    font-weight: bold;
    font-size: 12px;
    color: gray;
}